
@charset "UTF-8";
h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
button {
    
    margin: 3px;
    width: 49px;
    height: 49px;
    border-radius: 50px;
}
button:hover {
    opacity: .7;
}
#visor {
    background-color: white;
    text-align: right;
    border-style: solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 110px;
}
.tel {
    margin-right: 5px;
    color:black;
}
body {
    margin-top:100px;
    text-align: center;
    background-color: rgb(3, 46, 26);
}
footer {
    padding-top: 210px;
    text-align: center;
    color: white;
}

#calculadora {
    border-style: solid;
    color: white;
    border-radius: 20px;
    width: 300px;    
    margin: auto;
    margin-top: 200px;
    background-color: black;
       
}
#apagar {
 background-color: rgb(228, 94, 94);
}
#igual {
    background-color: lightgreen;
}
